@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.navbar {
    height: 80px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 138, 145); 
}

.nav-left img{
    width: 80px;
}

.navbar ul {
    display: flex;
    margin: 10px 20px 0 0;
}

.navbar li {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: white;
    align-items: center;
}

.navbar a {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: rgb(61, 154, 177);
}

.container {
    background: url('bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

/* Home style*/

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#home h4, p {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#home p {
    font-size: 35px;
}

.sep-line {
    height: 1.5px;
    width: 100%;
    background: white;
}


/* About style*/

#about {
    height: 100vh;
}

.about-heading {
    display: flex;
    justify-content: center;
}

.about-heading h5 {
    display: flex;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 24px;
    text-decoration: underline;
    padding: 6vh 1vh;
}

.about-details {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.about-left {
    display: flex;
    float: left;
    width: 50vw;
    align-items: center;
}

.about-right {
    display: flex;
    float: right;
    width: 50vw;
    align-items: center;
}

.about-left img {
    width: 28vw;
    padding-left: 12vw;
}

.about-right p {
    font-size: 1.25rem;
    text-align: left;
    margin-right: 10vw;
}


/* Achievement style*/

#achievement {
    display: flex;
    height:100vh;
    color: white;
    justify-content: center;
    padding-top: 30vh;
}

#achievement h5 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    letter-spacing: 2px;
    padding-bottom: 65px;
}

#achievement p {
    font-size: 1.5rem;
    text-align: left;
}


/* Contact style*/

#contact {
    height: 100vh;
}

#contact-box {
    display: flex;
    align-items: center;
    height: 95.5vh;
    justify-content: center;
}

.contact-form-box {
    display: block;
    background-color: white;
    height: 60vh;
    width: 60vh;
    justify-content: center;
}

.contact-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contact-heading h4 {
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding: 10px 50px 10px;
}

.contact-form form {
    display: block;
}

.contact-form form textarea {
    width: 40vh;
    border: 2px solid black;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.textbox input{
    width: 100%;
    height: 25px;
    border: 2px solid black;
}

#checkbox {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    margin: 0;
}

#checkbox input {
    margin: 4px 4px 4px 0;
}

#checkbox p {
    font-size: 0.8rem;
    color: black;
    padding-left: 2px;
}

#btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#btn button{
    background-color: rgb(53, 138, 145);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding: 8px 50px 8px;
    color: white;
}

/* Copyright */ 

.copyright-stuff div {
    display: flex;
    background-color: rgb(53, 138, 145);
    float: left;
    align-self: center;
    width: 100%;
}

.copyright-stuff ul {
    display: flex;
    margin: 2px 50px 2px;
}

.copyright-stuff li {
    display: flex;
    padding: 0 10px 0;
    align-items: center;
    color: black;
    font-size: 1rem;
}
